<h1 class="text-center">Investments</h1>

<%= render "shared/searchForm" %>

<% if @investments.empty?%>
  <div class="new-asset-wrapper">
    <p class="text-center">NO ITEM WITH THAT NAME, WOULD YOU LIKE TO CREATE A NEW RECORD? OR TRY SEARCHING AGAIN?<p>
    <%= link_to " ADD NEW ASSET", new_investment_path, class: "add-new-asset-btn btn btn-primary" %>
  </div>
<% else %>
  <div class="container-fluid">
    <% @investment_category.each do |category| %>
      <div class="investment-container mb-3">
        <div class="border-bottom border-white py-1 mb-2">
          <text class="ml-3 text-capitalize"><%= category %></text>
        </div>
        <div class="investment-cards">
          <% @investments.where(:category => category).shuffle.first(10).each do |investment| %>
            <div class="investment-card">
              <%= link_to investment.symbol, investment_path(investment.id) %><br>
              <%= link_to investment.name, investment_path(investment.id), class: "small-text" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
