<div class="container">
  <div class="text-center" style="display:block">
    <% if @info.present? && @info["coinImageUrl"] != nil %>
      <%= render "crypto" %>
    <%else %>
      <h1><%= @investment.name %></h1>
    <%end %>
      <div>
        <p><strong>Ticker Symbol:</strong> <%= @investment.symbol %></p>
      </div>

      <div>
        <p><strong>Category:</strong> <%= @investment.category %></p>
      </div>

    <% if @info.present? %>
      <div>
        <p><strong>Current price (<%= @info["currency"]%>):</strong> <%= @info["regularMarketPrice"] %></p>
      </div>
    <% end %>

    </div>


      <div class="graph">
        <% if @investment.category == "Crypto" %>
          <%= render "cryptochart" %>
        <% else %>
          <p> Chart missing!</p>
        <% end %>
      </div>

      <div class="text-center" style="margin-top: 16px">
        <%= link_to "Back to assets page", investments_path, class: "btn btn-primary" %>
        <%= link_to "Add to portfolio", new_investment_bookmark_path(@investment), class: "btn btn-primary" %>
   </div>
</div>
