<div class="wrapper mt-3">
  <div class="asset-wrapper">
    <% if @info.present? && @info["coinImageUrl"] != nil %>
      <%= render "crypto" %>
    <%elsif @investment.category == "share" && @clearbit.present? == true %>
      <%= render "share" %>
    <% else %>
      <h1><%= @investment.name %></h1>
    <%end %>

    <div class="info-wrapper">
      <div class="info-1">
      <% if @investment.category != "NFT"%>
        <p><strong>Symbol:</strong> <%= @investment.symbol %></p>
        <p><strong>Category:</strong> <%= @investment.category.capitalize %></p>
      <% end %>
      </div>

    <% if @info.present? && @investment.category != "NFT" %>
      <div>
        <p><strong>Current price (<%= @currency %>):</strong> <%= Concurrency.convert(@info["regularMarketPrice"], @info["currency"], current_user.currency).round(2) %>  </p>
      </div>
    <% end %>

    <% if @investment.category  && @info && @info["regularMarketChangePercent"].present? %>
      <div>
        <% if @info["regularMarketChangePercent"].positive? %>
          <p><strong>Market change:</strong> <span style="color:#34CB41"><%= @info["regularMarketChangePercent"].round(2)%>%</span></p>
        <% elsif @info["regularMarketChangePercent"].negative? %>
          <p><strong>Market change:</strong> <span style="color:#BA1F33;"><%= @info["regularMarketChangePercent"].round(2)%>%</span></p>
        <% else %>
          <p><strong>Market change:</strong> <%= @info["regularMarketChangePercent"].round(2)%>%</p>
        <% end%>
      </div>
    <% end %>

    <% if @investment.category == 'share' && @info && @info["dividendDate"].present?  %>
      <div>
        <p><strong>Dividend date: </strong><%= Time.at(@info["dividendDate"]).to_date %></p>
      </div>
    <% end %>

    <%if @investment.category == "NFT" %>
      <%= render "nft" %>
    <% end %>
  </div>

    <% if @investment.category == "crypto" %>
      <%= render "cryptochart" %>
    <% elsif @investment.category == "share" && @info && @info["regularMarketPrice"].present? == true %>
      <%= render "stockchart" %>
    <% elsif @investment.category == "share" && @info && @info["regularMarketPrice"].present? == false %>
      <%= render "basicstockchart" %>
    <% elsif @investment.category == "NFT" %>
        <p class="no-chart" id="gif-button" data-name=<%= @nft_info[:hyph_name] %>> Chart not available <br> click to view NFT</p>
    <% else %>
        <p class="no-chart"> Chart not available</p>
    <% end %>
  </div>
</div>


<div class="mt-3 row d-flex" style="justify-content: space-around">
  <%= link_to "Back", :back, class: "btn hollow-btn col-5" %>
  <%= link_to "Add", new_investment_bookmark_path(@investment), class: "btn primary-btn col-5 text-center" %>
</div>
<% if @investment.bookmarks.present? %>
  <%= render "transactionhistory" %>
<% end %>

<% if @clearbit.present?%>
  <%= render "clearbit" %>
<% end %>
