<div class="container">
  <h2 class="mb-4">Transactions</h2>
  <% @bookmarks.each do |bookmark| %>
  <div class="investment-container py-1 mt-3">
    <div class="row mt-3">
      <div class="col">
        <h5>Date</h5>
        <%= bookmark.date %>
      </div>
      <div class="col">
        <h5>Quantity</h5>
        <%= bookmark.quantity %>
      </div>
      <div class="col">
        <h5>Price</h5>
        <%= bookmark.transaction_price %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <h5>Comment</h5>
        <%= bookmark.comment %>
      </div>
      <div class="d-flex flex-row-reverse col-2 align-items-center">
        <%= link_to "",
            bookmark_path(bookmark),
            class: "fa fa-trash",
            method: :delete,
            data: { confirm: "Delete transaction?" } %>
        <%= link_to "", edit_bookmark_path(bookmark), class: "fa fa-pen mr-2" %>
      </div>

      <%# <div class="col-1">
        <%= link_to "",
                    bookmark_path(bookmark),
                    class: "fa fa-trash",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      <%# </div> %>
    </div>
  </div>
  <% end %>
  <%= link_to 'Back', portfolio_path(@portfolio), class: "btn hollow-btn col-5 mt-4" %>
</div>
