<div class="container">
  <h1> <%= @portfolio.title %> </h1>
  <small> <%= @portfolio.description %> </small>
  <ol>
  <% @portfolio.assets.group_by(&:category).each do |category, assets| %>
    <li><%= category %></li>
    <ul>
    <% @portfolio.assets.where(:category => category).group_by(&:name).each do |name, assets| %>
      <li><%= link_to name, asset_path(assets) %><br>
      <%= @portfolio.bookmarks.where(:asset_id => assets).sum(&:quantity) %>
      </li>
    <% end %>
    </ul>
  <% end %>
  </ol>
  <%= link_to "< Back", portfolios_path %>
</div>
