<div class="container">
  <h1> <%= @portfolio.title %> </h1>
  <small> <%= @portfolio.description %> </small>
  <ol>
  <% @portfolio.investments.group_by(&:category).each do |category, investments| %>
    <li><%= category %></li>
    <ul>
    <% @portfolio.investments.where(:category => category).group_by(&:name).each do |name, investments| %>
      <li><%= link_to name, investment_path(investments) %><br>
      <%= @portfolio.bookmarks.where(:investment_id => investments).sum(&:quantity) %>
      </li>
    <% end %>
    </ul>
  <% end %>
  </ol>
  <p><%= link_to "Add investment to list", investments_path %></p>
  <%= link_to "< Back", portfolios_path %>
</div>
