<div class="container">
  <h1> <%= @portfolio.title %> </h1>
  <small> <%= @portfolio.description %> </small>
  <ol>
  <% @portfolio.investments.group_by(&:category).each do |category, investments| %>
    <li><%= category %></li>
    <ul>
    <% @portfolio.investments.where(:category => category).group_by(&:name).each do |name, investment| %>
      <li><%= link_to name, investment_path(investment) %><br>
        <%= @portfolio.bookmarks.where(:investment_id => investment).sum(&:quantity) %><br>
        <%= link_to "", portfolio_bookmark_path(investment), class: "fa fa-plus" %>
      </li>
    <% end %>
    </ul>
  <% end %>
  </ol>
  <p><%= link_to "Add investment to list", investments_path %></p>
  <%= link_to "< Back", portfolios_path %>
</div>
