<div class="container">
  <div class="row justify-content-center">
    <h2 class="mt-3"><%= @portfolio.title %></h2>
  </div>
  <div class="row justify-content-center">
    <p class="mb-0"><%= @portfolio.description %></p>
  </div>
  <div class="row logo-height full-img">
    <div class="col text-center align-self-center">
      <h5>Total value</h5>
      <%= @currency %> <%= @portfolio_value.round(2) %>
    </div>
  </div>

  <div class="container investment-container">
    <div class="row">
      <div class="col-4 d-flex flex-row align-items-center px-0">
        <h3>Assets</h3>
        <%= link_to "", investments_path(portfolio_id: @portfolio), class: "plus-symbol fa fa-plus mt-0" %>
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center px-0">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :currency, as: :select,
                                 collection: ["USD", "GBP", "EUR", "DKK", "BRL"],
                                 selected: @user.currency,
                                 class: 'form-control no-pseudo-style',
                                 input_html: { class: "custom-input m-0 no-pseudo-style",
                                 portfolio_id: @portfolio , onchange: "this.form.submit();" },
                                 label_html: { class: "hide" },
                                 wrapper_html: { class: "mb-0 no-pseudo-style"} %>
          <%= f.hidden_field :portfolio, value: @portfolio.id %>
        <% end %>
        <%= link_to '', edit_portfolio_path, class: "pl-4 fa fa-pen m-2 no-pseudo-style" %>
        <%= link_to "", portfolio_path(@portfolio), class: "fa fa-trash m-2 no-pseudo-style", method: :delete, data:{ confirm: "Are you sure?" } %>
      </div>
    </div>
      <% @portfolio_investment.each do |investment| %>
        <% if investment.bookmarks.sum(:quantity) > 0 %>
          <div class="row no-gutters mt-2">
            <div class="col-3">
              <%= link_to investment.symbol, investment_path(investment), class: "stretched-link investment-symbol" %>
                <p class="investment-name"><%= investment.name %></p>
            </div>
            <div class="col-5 align-self-center">
              <%= image_tag "graphs/#{rand(5)}.png", width: "100%" %>
            </div>
            <div class="col-4 align-self-center">
              <div class="row align-self-center justify-content-end">
                <%= @currency %>
                <% investment_value = investment.previous_price.nil? ? 1 : investment.previous_price %>
                <% value = (investment.bookmarks.where(portfolio_id: @portfolio).sum(:quantity) * investment_value) %>
                <%= @convert.currency(value, @api_curr, @user.currency) %>
                <%= link_to "", portfolio_bookmarks_path(@portfolio, investment_id: investment), class: "fa fa-angle-double-right align-self-center pb-1 pl-2 no-pseudo-style" %>
              </div>
              <div class="row justify-content-center">
                <div class="col-6 mt-1">
                  <%= link_to "Trade", new_investment_bookmark_path(investment_id: investment, portfolio_id: @portfolio), class: "primary-btn btn-small" %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
        <% end %>
      <% end%>
  </div>
  <div class="row full-width-btn-container p-2">
    <%= link_to "Back", :back, class: "btn hollow-btn" %>
  </div>
</div>
