<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "", portfolios_path, class: "fa fa-arrow-left fa-xl" %>
    </div>
    <div class="col">
      <h1> <%= @portfolio.title %> </h1>
    </div>
    <div class="col">
      <h2>. . .<h2>
    </div>
  </div>
  <div class="row logo-height full-img">
    <div class="col text-center align-self-center">
      <h5>Total value</h5>
      <%= @portfolio_value.round(2) %> <%= current_user.currency %>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h5><%= @portfolio.description %></h5>
    </div>
  </div>

  <div class="container investment-container">
    <div class="row">
      <div class="col d-flex align-items-center">
        <h3>Assets</h3> <%= link_to "", investments_path, class: "plus-symbol fa fa-plus" %>
      </div>
    </div>

  <div class="row no-gutters">
    <% @portfolio.investments.group_by(&:name).each do |name, investments| %>
    <% investment = investments.first %>
      <div class="col-3">
        <%= link_to investment.symbol, investment_path(investment), class: "stretched-link investment-symbol" %>
          <p class="investment-name"><%= investment.name %></p>
      </div>
      <div class="col-5 align-self-center">
        <%= image_tag "graphs/#{rand(5)}.png", width: "100%" %>
      </div>
      <div class="col-3 align-self-center text-right">
        <%# Show calculation of current asset price * quantity %>
        <text>$ 1,305.53</text>
      </div>
      <div class="col-1 text-right">
        <%= link_to "", portfolio_bookmarks_path(@portfolio, investment_id: investment), class: "pen-symbol fa fa-pen pr-0" %>
      </div>
    <% end%>
  </div>
    <%= link_to 'Edit Portfolio', edit_portfolio_path, class: "btn hollow-btn" %>
    <%= link_to "Delete Portfolio", portfolio_path(@portfolio), class: "btn btn-danger", method: :delete, data:{ confirm: "Are you sure?" } %>
</div>
