<%= simple_form_for(@user) do |f| %>
  <%= f.input :name, required: false, label: "Update your name", value: @user.name %>
  <%= f.input :email, required: false, label: "Update your email", value: @user.email %>
  <%= f.label :img_url, required: false, label: "Update your profile picture" %>
  <%= f.input :currency, as: :select, collection: ["USD", "GBP", "EUR", "DKK"], selected: @user.currency, class: 'form-control' %>
  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn btn-outline-primary' %>
    <%= link_to 'Cancel', profile_path, class: 'btn btn-outline-warning' %>
  </div>
<% end %>
