<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>
  <% if user_signed_in? %>
    <%= image_tag "#{current_user.img_url}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Profile", profile_path, class: "dropdown-item" %>
        <%= link_to "Portfolios", portfolios_path, class: "dropdown-item" %>
        <%= link_to "Investments", investments_path, class: "dropdown-item" %>
        <%# <%= link_to "Dashboard", "#", class: "dropdown-item" %>
        <%# <%= link_to "Friends", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link btn-primary add-new-asset-btn" %>
  <% end %>
</div>
