<div class="container">
  <div class="wrapper">
    <h1><%= @asset.name %></h1>
    <div>
      <p><strong>Ticker Symbol:</strong> <%= @asset.symbol %></p>
    </div>
    <div>
      <p><strong>Category:</strong> <%= @asset.category %></p>
    </div>
    <div>
      <p><strong>Current price (<%= @info["currency"]%>):</strong> <%= @info["regularMarketPrice"] %></p>
    </div>
  </div>
</div>
